<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}

  <body id="mainBody">
    {{- partial "preloader.html" . -}}
    {{- block "main" . }}{{- end }}
    {{- partial "scripts.html" . -}}
  </body>
</html>
