$fade-white : #eee;
$white : #ccc;

a{
  color: $fade-white !important;
  text-decoration: none;

  &:visited{
    color: $white;
    text-decoration: none;
    opacity: 0.42;
  }
  &:hover{
    opacity: 0.7;
    text-decoration: underline;
  }
  &:active{
    opacity: 1;
    text-decoration: none;
  }
}

/*--------------------------------
   Start Preloader & General Styling
----------------------------------*/
@keyframes "fadeInUp" {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*--------------------------------
   End Preloader & General Styling
----------------------------------*/
/*--------------------------------
  Start Header
----------------------------------*/
/* ========= Header ======= */
/* ========= Full Screen Navigation ======= */
@keyframes "move" {
  0% {
    top: 0px;
  }
  33% {
    top: -30px;
  }
  67% {
    top: -60px;
  }
}
/*--------------------------------
  End Header
----------------------------------*/
/*--------------------------------
  Start Menu
----------------------------------*/
/* ========= 3.1 Desktop Menu ======= */
/* ========= Mobile Menu ======= */
/*--------------------------------
   End Menu
----------------------------------*/
/*--------------------------------
   Start About Me
----------------------------------*/
/* ========= Start Experience ======= */
/* ========= Start Skill ======= */
/*--------------------------------
   End About Me
----------------------------------*/
/*--------------------------------
   Start Portfolio
----------------------------------*/
/* ========= 7.2 Start Fun Facts ======= */
/*--------------------------------
   End Testimonials
----------------------------------*/
/*--------------------------------
  Start Header
----------------------------------*/
/*--------------------------------
  End Header
----------------------------------*/
/*--------------------------------
 Start Menu
----------------------------------*/
/*--------------------------------
 End Menu
----------------------------------*/
/*--------------------------------
  Content
----------------------------------*/
#hero-container {
	background: url(../images/background.jpg) top center;
	background-size:cover;
	position: relative;
	width:100%;
	height:100%;
	color:#fff;
	z-index:-1;
}
#hero-layer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	color:#fff;
	font-family: 'Rubik', sans-serif;
	z-index:0;
}
#transition-layer {
    background: url(../images/preloader.gif) center;
	background-size:cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
	z-index:9999;
}
.container {
	z-index:100;
}

.menu {
	z-index:99999;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: left;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
	max-height: 720px;
}

#end {
	height: 100px;
	min-height: 100px;
}

#end img {
	max-width: 100px;
	padding: 20px;
}

#rsvpSubmit {
	margin: 10px !important;
}

h1 {
	font-family: "Baskerville Old Face", serif;
	color: rgba(227,203,166,255);
}

p, i, a{
	font-family: "Californian FB", sans-serif;
	font-size: 1.3em;
}

#hero-content {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
	color:#fff;
	font-family: 'Rubik', sans-serif;
	z-index:1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

#details-content {
    font-size: 1.2em;
}

#dayOf {
	background-color: rgb(84,92,84);
	background-size:cover;
	position: relative;
	color:#fff;
}

#nearby {
	background-color: rgb(84,92,84);
	background-size:cover;
	position: relative;
	color:#fff;
	
}

#lodging {
	background-color: rgb(84,92,84);
	background-size:cover;
	position: relative;
	color:#fff;
}


#rsvp {
	background-color: rgb(84,92,84);
	background-size:cover;
	position: relative;
	color:#fff;
}

#end {
	background-color: rgb(84,92,84);
	position: relative;
	color:#fff;
  
}



.contentBox {
	padding-top: 20px;
	padding-bottom: 20px;
	margin:auto auto;
    overflow: hidden;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}


/*--------------------------------
   End Content
----------------------------------*/
/*--------------------------------
  Form
----------------------------------*/
#loginbackground {
	padding-top: 50px;
	padding-bottom: 50px;
    overflow: hidden;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	border: 1px inset black;
}

#CTA {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

input {
    border-radius: 10px;
	border: 1px inset black;
	outline-color: #000;
    box-shadow: rgba(0, 0, 0, 0.5);
	padding-top: 10px;
	padding-bottom: 10px;
}

#submit, #rsvpSubmit {
    border-radius: 10px;
	border: 1px inset black;
	outline-color: #000;
    box-shadow: rgba(0, 0, 0, 0.5);
	margin-top: 10px;
	margin-bottom: -20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	
}



/*--------------------------------
  End Form
----------------------------------*/



html {
  height: 100%;
}

@keyframes smoothscroll1 {
  from, to { scroll-behavior: smooth; }
}

@keyframes smoothscroll2 {
  from, to { scroll-behavior: smooth; }
}

html {
  animation: smoothscroll1 1s;
}

html:focus-within {
  animation-name: smoothscroll2;
  scroll-behavior: smooth;
}


h1 {
  font-size: 2.5rem;
}
* {
  outline: none;
}
body {
  font-family: 'Rubik', sans-serif;
  height: 100%;
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 6px;
}
code {
  color: #f8f8f2;
  background-color: #272822;
  margin: 0;
  font-size: 85%;
  border-radius: 6px;
}
p code {
  padding: 0.2em 0.4em;
}
.no-js {
  body {
    overflow: visible;
  }
  .all-container {
    opacity: 1;
  }
  #preloader {
    display: none;
  }
  .logo {
    display: none;
  }
  input {
    + {
      label {
        display: none;
      }
    }
  }
  .fullscreen-nav-container {
    display: none;
  }
  .fun-facts {
    display: none;
  }
  .to-top {
    position: fixed;
    right: 15px;
    bottom: 20px;
  }
}
.all-container {
  opacity: 0;
  height: 100%;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2b2c2f;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.square-spin {
  > div {
    width: 80px;
    height: 80px;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}
.scroll-up {
  position: fixed;
  right: 0px;
  bottom: 50px;
  text-decoration: none;
  color: #999;
  cursor: pointer;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s;
  &:hover {
    color: #999;
  }
  &:focus {
    color: #999;
  }
}
.scroll-up-show {
  opacity: 1;
  transform: translateY(0px);
}
.scroll-up.hvr-icon-up {
  &:before {
    content: '\f077';
    font-size: 15px;
    padding: 1px 4px;
    border-radius: 100%;
    border: 2px solid #999;
  }
}
.header {
  background: #313131;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 420px;

}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.logo {
  position: absolute;
  z-index: 10;
  top: 2px;
  left: 40px;
  img {
    width: 205px;
  }
}
.owl-carousel.owl-full-width {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  .slider {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      display: none;
    }
  }
}
.owl-full-width {
  div {
    height: 100%;
  }
}
.slider-button {
  position: absolute;
  top: 49%;
  height: 35px;
  width: 35px;
  z-index: 10;
  border-radius: 100%;
  text-align: center;
  font-size: 29px;
  border: 2px solid #999;
  color: #999;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background: #999;
    color: #fff;
  }
}
.slider-prev-button {
  left: 40px;
  transform: translateX(15px);
  .fa {
    position: relative;
    top: -6px;
    left: -2px;
  }
}
.slider-next-button {
  right: 40px;
  transform: translateX(-15px);
  .fa {
    position: relative;
    top: -6px;
    left: 2px;
  }
}
.head-container {
  display: table;
  position: absolute;
  top: 0;
  height: 100%;
  color: white;
  font-size: 30px;
  font-family: 'Rubik', sans-serif !important;
  font-weight: 300;
  z-index: 10;
}


.freebirdFormviewerViewFooterEmbeddedBackground {
	display: none !important;
	
}

.head-holder {
  display: table-cell;
  vertical-align: middle;
  .hireMe {
    display: inline-block;
    background: transparent;
    margin-top: 18px;
    text-decoration: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    font-weight: 500;
    border: 2px solid white;
    padding: 5px 18px;
    transition: all 0.2s;
  }
}
.introduction {
  font-size: 60px;
  font-weight: 600;
}
.typist-blink {
  &:after {
    content: ' ';
    display: inline-block;
  }
  > .selectedText {
    display: none;
  }
}
.button {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 700;
  margin-top: 15px;
  display: inline-block;
  border: 2px solid #4d4d4d;
  padding: 7px 10px;
  &:hover {
    background: #6f6f6f;
    color: #fff !important;
    border: 2px solid #6f6f6f;
  }
}

#burger {
  display: none;
}
.navigation-icon {
  &:hover {
    .burger-menu {
      span {
        background: #6f6f6f;
      }
    }
  }
}
label {
  &:hover {
    cursor: pointer;
  }
}
.fullscreen-nav-container {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 11;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .container-fluid {
    height: 100%;
  }
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
}
.full-nav-container {
  height: 100%;
}
.full-nav-holder {
  height: 100%;
  display: table;
  width: 100%;
  margin: auto;
}
.full-nav-content {
  display: table-cell;
  vertical-align: middle;
}
.name {
  text-align: center;
}
.first-name {
  font-size: 50px;
  font-weight: 400;
  padding-bottom: 20px;
}
.last-name {
  font-size: 100px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 42px;
}
.occupation {
  font-size: 18px;
  font-weight: 400;
  height: 30px;
  overflow: hidden;
  span {
    display: inline-block;
    color: #fff;
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    top: 0;
    left: 0;
  }
}
.fulscreen-nav {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.fullscreen-nav-holder {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  div {
    margin: 0px 10px;
    transition: transform 0.2s;
    &:hover {
      transform: translateY(5px);
    }
  }
  a {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
  }
}
.full-nav-icon-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.full-nav-icons {
  display: inline-flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  div {
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: #313131;
    font-size: 17px;
  }
  .fa.fa-facebook-f {
    padding: 7px 10px;
  }
  .fa {
    transition: all 0.3s;
    background: #fff;
    padding: 7px;
    &:hover {
      transform: translateY(5px);
    }
  }
}
.to-top {
  a {
    text-decoration: none;
    color: #313131;
    font-size: 17px;
    text-decoration: none;
    color: #313131;
    font-size: 17px;
  }
  .fa {
    transition: all 0.3s;
    background: #fff;
    padding: 7px;
    transition: all 0.3s;
    background: #fff;
    padding: 7px;
  }
  &:hover {
    transform: translateY(-5px);
  }
}
.menu {
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 999;
}
.menu-fixer {
  position: relative;
}
.menu-fix {
  position: fixed;
}
.menu-container {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  height: 55px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: background 1s;
  background-color: rgba(0, 0, 0, 0.3);
}
.menu-normal {
  background: #fff;
}

.desktop-menu-logo {
  img {
    height: 50px;
    margin-left: 20px;
  }
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 1px;
}
.menu-item {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 20px;
  a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    transition: color 1s;
  }
}
.desktop-menu {
  .hvr-underline-from-left {
    &:hover {
      &:before {
        right: 0;
      }
    }
    &:focus {
      &:before {
        right: 0;
      }
    }
    &:active {
      &:before {
        right: 0;
      }
    }
    &:before {
      background: #fff;
      bottom: 11px;
      height: 2.5px;
    }
  }
  .hvr-underline-from-left.active {
    &:before {
      right: 0;
    }
  }
  .hvr-underline-from-left.dark {
    &:before {
      background: #6f6f6f;
    }
  }
  display: flex;
  width: 82%;
  justify-self: flex-end;
  height: 55px;
  align-items: center;
  justify-content: flex-start;
}
.menu-item-transparent.menu-item {
  a {
    color: #6f6f6f;
  }
}
.mobile-menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  height: 55px;
  top: 0;
  background: #fff;
  box-shadow: 0px 0px 4px 0px;
  transition: all 0.5s;
  a {
    text-decoration: none;
    color: white;
    font-size: 29px;
  }
}
.mobile-menu-fix {
  position: fixed;
}
.mobile-menu-logo {
  img {
    height: 50px;
  }
  position: absolute;
  left: 15px;
  top: 4px;
}
.mobile-menu-icons {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  align-items: center;
  padding-left: 26px;
  padding-bottom: 12px;
  div {
    display: inline-block;
    margin-right: 5%;
  }
  .fa {
    transition: all 0.7s;
    &:hover {
      transform: scale(1.2);
      color: #6f6f6f;
    }
  }
}
.mobile-menu-nav {
  height: 20px;
  width: 34px;
  display: inline-block;
  position: absolute;
  right: 14px;
  top: 18px;
  span {
    display: block;
    width: 100%;
    height: 4px;
    background: #6f6f6f;
    position: relative;
    top: 4px;
    transition: 0.5s;
    &:first-child {
      top: -2px;
    }
    &:last-child {
      top: 10px;
    }
  }
  &:hover {
    cursor: pointer;
  }
}
.menu-link.active {
  span {
    opacity: 0;
    top: 50%;
    &:first-child {
      opacity: 1;
      transform: rotate(405deg);
      top: 6px;
    }
    &:last-child {
      opacity: 1;
      transform: rotate(-405deg);
      top: -2px;
    }
  }
}
.menu-slider {
  position: absolute;
  display: none;
  z-index: 999;
  top: 55px;
  left: 0;
  right: 0;
  background: #212121;
  ul {
    list-style: none;
    padding: 0 17px;
    margin: 7px 0;
    text-align: center;
  }
  li {
    padding: 9px;
    a {
      font-size: 20px;
      font-weight: 500;
    }
  }
}
.about-me {
  background: #fff;
  padding: 70px 0px;
}
.about-me-text {
  h1 {
    position: relative;
    color: #6f6f6f;
    font-weight: 700;
    letter-spacing: 2px;
  }
  p {
    color: #6f6f6f;
    font-size: 16px;
  }
}
.download-cv {
  &:hover {
    text-decoration: none;
    color: #4d4d4d;
  }
  &:focus {
    text-decoration: none;
    color: #4d4d4d;
  }
}
.about-me-images {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
  }
}
.experience-skill {
  margin-top: 40px;
}
.experience,
.skill {
  h2 {
    color: #6f6f6f;
    font-weight: 700;
    letter-spacing: 2px;
  }
}
.experience-chart {
  list-style: none;
  padding: 0px 0px 0px 6px;
  margin-top: 40px;
  li {
    span {
      font-weight: 700;
      color: #6f6f6f;
    }
    p {
      color: #6f6f6f;
    }
  }
}
ul.experience-chart {
  li {
    padding-left: 30px;
    border-left: 2px solid #6f6f6f;
    padding-bottom: 10px;
    position: relative;
    &:last-child {
      padding-bottom: 0;
    }
    &:after {
      position: absolute;
      top: -1px;
      left: 0px;
      right: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid #4d4d4d;
      background: #fff;
      content: '';
      transition: all 0.7s;
    }
    &:hover {
      &:after {
        background: #4d4d4d;
      }
    }
  }
  h3 {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 700;
    color: #4d4d4d;
  }
}
.single-experience {
  position: relative;
  top: -2px;
}
.skill-progress-bar {
  margin-top: 41px;
}
.skillbar {
  position: relative;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  width: 100%;
  background: #fff;
  border: 2px solid #6f6f6f;
  height: 18px;
  border-radius: 22px;
  transition: 0.2s linear;
  transition-property: width, background-color;
}
.skillbar-title {
  font-size: 16px;
  color: #4d4d4d;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 7px;
}
.skill-bar-percent {
  font-size: 16px;
  color: #4d4d4d;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 7px;
  float: right;
}
.skillbar-bar {
  height: 10px;
  margin: 0px 2px;
  width: 0px;
  background: #4d4d4d;
  border-radius: 22px;
}
.portfolio {
  padding: 70px 0px;
}
.portfolio,
.blog {
  background: #fff;
  h2 {
    color: #6f6f6f;
    text-align: center;
    font-weight: 700;
    letter-spacing: 4px;
    position: relative;
  }
}
.under-menu {
  margin-top: 80px;
}
.posts {
  min-height: calc(100vh - 340px);
  a:hover {
    text-decoration: none;
  }
}
.post.card {
  color: #212121;
  padding: 0;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  h2 {
    text-align: left;
  }
  .content {
    padding: 10px;
  }
  img {
    margin-right: 10px;
    max-width: 150px;
    height: max-content;
    align-self: center;
  }
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  @media (max-width: 727px) {
    flex-direction: column;
    img {
      max-width: 100%;
      margin: 0;
    }
  }
  &:focus {
    outline: auto;
  }
}
.post-container {
  img {
    margin: auto;
    margin-bottom: 20px;
    display: block;
    max-width: 100%;
  }
}
.date {
  color: rgba(50, 50, 50, 0.6);
  font-style: italic;
  margin-bottom: 2rem;
  display: block;
}
.hidden {
  display: none !important;
}
.fun-facts {
  display: flex;
  justify-content: space-around;
  height: auto;
  flex-wrap: wrap;
}
.fun-fact-holder {
  width: 130px;
  img {
    display: block;
    margin: auto;
    width: 50px;
  }
  p {
    text-align: center;
    font-size: 14px;
    margin-top: -10px;
    color: #6f6f6f;
    font-weight: 700;
  }
  .fact-counter {
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    margin-top: 13px;
  }
}
.footer {
  padding-top: 50px;
  padding-bottom: 70px;
  position: relative;
  z-index: 2;
  hr {
    border: 1px solid #fff;
    margin-bottom: 5px;
  }
}
.footer-icons {
  display: flex;
  width: fit-content;
  margin: auto;
  margin-top: 15px;

  div {
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: #313131;
    font-size: 17px;
    margin: 0 8px;
  }
  .fa {
    transition: all 0.3s;
    background: #fff;
    padding: 7px;
    &:hover {
      transform: translateY(5px);
    }
  }
}
.credit {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
}
.hero-image {
  height: 100%;
  overflow: hidden;
  img {
    object-fit: cover;
    min-height: 100%;
    width: 100%;
  }
}
.footer-icon {
  &:hover {
    color: #818aa3;
  }
}
@media (max-width: 550px) and (min-height: 501px) {
  .introduction {
    font-size: 45px;
    margin-bottom: 5px;
  }
  .animated-text {
    font-size: 21px;
    margin-top: 7px;
    margin-bottom: 2px;
  }
  .head-holder {
    .hireMe {
      margin-top: 10px;
      font-size: 18px;
      padding: 3px 12px;
    }
  }
}
@media (min-width: 470px) and (max-width: 727px) {
  .fullscreen-nav-holder {
    div {
      margin-bottom: 15px;
    }
  }
  .full-nav-icon-holder {
    margin-top: 15px;
  }
}
@media (min-width: 728px) and (max-height: 470px) {
  .full-nav-container {
    margin-top: 20px;
  }
}
@media (min-width: 469px) and (max-width: 727px) and (max-height: 500px) {
  .full-nav-container {
    margin-top: 20px;
  }
  .first-name {
    display: inline-block;
    font-size: 35px;
    margin: 0;
  }
  .last-name {
    display: inline-block;
    font-size: 35px;
    margin: 0;
  }
  .occupation {
    font-size: 15px;
  }
  .fulscreen-nav {
    margin-top: 25px;
  }
  .full-nav-icon-holder {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
@media (max-height: 535px) and (max-width: 468px) {
  .first-name {
    display: inline-block;
    font-size: 35px;
    margin: 0;
  }
  .last-name {
    display: inline-block;
    font-size: 35px;
    margin: 0;
  }
  .occupation {
    font-size: 15px;
  }
  .name {
    text-align: left;
  }
  .full-nav-container {
    margin-top: 20px;
  }
  .fullscreen-nav-holder {
    div {
      margin-bottom: 15px;
      margin: 0;
      margin-bottom: 15px;
      width: 100%;
      text-align: left;
    }
  }
  .fulscreen-nav {
    margin-top: 25px;
  }
  .full-nav-icon-holder {
    margin-top: -5px;
    width: 70%;
    justify-content: flex-start;
  }
  .full-nav-holder {
    padding-left: 20px;
    display: block;
  }
  .full-nav-content {
    display: block;
  }
}
@media (max-width: 469px) and (min-height: 536px) {
  .fullscreen-nav-holder {
    div {
      margin-bottom: 15px;
      margin: 0;
      margin-bottom: 15px;
      width: 100%;
      text-align: center;
    }
  }
  .full-nav-icon-holder {
    margin-top: 15px;
  }
  .full-nav-container {
    margin-top: 20px;
  }
  .first-name {
    font-size: 35px;
  }
  .last-name {
    font-size: 70px;
    font-weight: 600;
    line-height: 0;
    margin-top: 28px;
    margin-bottom: 28px;
  }
  .occupation {
    font-size: 14px;
  }
  .fullscreen-nav {
    margin-top: 35px;
  }
  .full-nav-holder {
    display: block;
  }
  .full-nav-content {
    display: block;
  }
}
@media (max-width: 767px) {
  .logo {
    left: 10px;
  }
  .header {
    .logo {
      img {
        width: 185px;
      }
    }
  }
  .about-me-text {
    display: block;
    height: auto;
    margin-bottom: 30px;
    order: 2;
  }
  .about-me-image {
    order: 1;
    margin-bottom: 30px;
  }
  .about-me-holder {
    display: flex;
    flex-wrap: wrap;
  }
  .experience-skill {
    margin-top: 10px;
  }
  .experience-chart {
    margin-top: 25px;
  }
  .skill-progress-bar {
    margin-top: 25px;
  }
  .skill {
    margin-top: 30px;
  }
  .skillbar {
    margin-bottom: 15px;
  }
}
@media (max-width: 880px) {
  .slider-button {
    display: none;
  }
}
@media (max-width: 990px) {
  .header {
    background-position: center;
  }
}
@media (min-height: 301px) and (max-height: 500px) {
  .introduction {
    font-size: 35px;
  }
  .animated-text {
    font-size: 18px;
  }
  .head-holder {
    .hireMe {
      margin-top: 10px;
      font-size: 16px;
      padding: 3px 12px;
    }
  }
}
@media (max-height: 300px) {
  .introduction {
    font-size: 35px;
  }
  .animated-text {
    font-size: 18px;
  }
  .head-holder {
    .hireMe {
      margin-top: 10px;
      font-size: 16px;
      padding: 3px 12px;
    }
  }

}
@media (max-width: 468px) and (max-height: 440px) {
  .full-nav-container {
    margin-bottom: 30px;
  }
  .fullscreen-nav-container {
    position: absolute;
    top: 0;
    bottom: 100%;
    width: 100%;
    height: 447px;
  }
}
@media (max-height: 430px) {
  .fullscreen-nav-container {
    min-height: 420px;
  }
}
@media (max-width: 991px) {
  .desktop-menu {
    width: 95%;
    margin-left: 150px;
  }
}
@media (max-width: 765px) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .menu-container {
    justify-content: flex-end;
    padding: 0px 20px;
    height: 0px;
    background: #fff;
  }
  .desktop-menu-logo {
    display: none;
  }
  .menu-container-transparent {
    background: rgb(255, 255, 255);
  }
}
@media (min-width: 601px) and (max-width: 991px) {
  .menu-container {
    justify-content: flex-start;
  }
  .about-me {
    padding: 125px 0px 35px 0px;
  }
}
@media (min-width: 766px) {
  .mobile-menu-fix {
    display: none;
  }
  .post-container {
    margin-top: 100px;
  }
}

