/*--------------------------------
   Start Preloader & General Styling
----------------------------------*/

html {
  height: 100%;
}

h1 {
  font-size: 2rem;
}

* {
  outline: none;
}

body {
  font-family: 'Rubik', sans-serif;
  height: 100%;
}

#hero-container {
	background: url(../images/background.jpg) top center;
}

.no-js body {
  overflow: visible;
}

.all-container {
  opacity: 0;
  /* -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'; */
  height: 100%;
}

.no-js .all-container {
  opacity: 1;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2b2c2f;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-js #preloader {
  display: none;
}

.square-spin > div {
  width: 80px;
  height: 80px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.scroll-up {
  position: fixed;
  right: 0px;
  bottom: 50px;
  text-decoration: none;
  color: #999;
  cursor: pointer;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s;
}

.scroll-up-show {
  opacity: 1;
  transform: translateY(0px);
}

.scroll-up:hover,
.scroll-up:focus {
  color: #999;
}

.scroll-up.hvr-icon-up:before {
  content: '\f077';
  font-size: 15px;
  padding: 1px 4px;
  border-radius: 100%;
  border: 2px solid #999;
}

/*--------------------------------
   End Preloader & General Styling
----------------------------------*/

/*--------------------------------
  Start Header
----------------------------------*/

/* ========= Header ======= */

.header {
  background: #313131;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100%;
  min-height: 420px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.logo {
  position: absolute;
  z-index: 10;
  top: 2px;
  left: 40px;
}

.no-js .logo {
  display: none;
}

.logo img {
  width: 205px;
}

.owl-carousel.owl-full-width {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.owl-carousel.owl-full-width .slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.owl-carousel.owl-full-width .slider img {
  display: none;
}

.owl-full-width div {
  height: 100%;
}

.header .slider::after,
.header::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.6);
  z-index: 9;
}

.slider-button {
  position: absolute;
  top: 49%;
  height: 35px;
  width: 35px;
  z-index: 10;
  border-radius: 100%;
  text-align: center;
  font-size: 29px;
  border: 2px solid #999;
  color: #999;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s;
}

.slider-prev-button {
  left: 40px;
  transform: translateX(15px);
}

.slider-next-button {
  right: 40px;
  transform: translateX(-15px);
}

.slider-button:hover {
  background: #999;
  color: #fff;
}

.header:hover .slider-button {
  opacity: 1;
  transform: translateX(0px);
}

.slider-prev-button .fa {
  position: relative;
  top: -6px;
  left: -2px;
}

.slider-next-button .fa {
  position: relative;
  top: -6px;
  left: 2px;
}

.head-container {
  display: table;
  top: 0;
  height: 100%;
  color: white;
  font-size: 30px;
  font-family: 'Rubik', sans-serif !important;
  font-weight: 300;
  z-index: 10;
}

.head-holder {
  display: table-cell;
  vertical-align: middle;
}

.introduction {
  font-size: 60px;
  font-weight: 600;
}

.typist-blink:after {
  content: ' ';
  display: inline-block;
}

.typist-blink > .selectedText {
  display: none;
}

.head-holder .hireMe {
  display: inline-block;
  background: transparent;
  margin-top: 18px;
  text-decoration: none;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 19px;
  font-weight: 500;
  border: 2px solid white;
  padding: 5px 18px;
  transition: all 0.2s;
}

.button {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 700;
  margin-top: 15px;
  display: inline-block;
  border: 2px solid #4d4d4d;
  padding: 7px 10px;
}

.button:hover {
  background: #6f6f6f;
  color: #fff !important;
  border: 2px solid #6f6f6f;
}

input + label {
  position: absolute;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 34px;
  z-index: 12;
}

.no-js input + label {
  display: none;
}

#burger {
  display: none;
}

input + label span {
  position: absolute;
  width: 100%;
  height: 4px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #fff;
  transition: 0.5s;
}

.navigation-icon:hover .burger-menu span {
  background: #6f6f6f;
}

input + label span:first-child {
  top: 0px;
}

input + label span:last-child {
  top: 19px;
}

label:hover {
  cursor: pointer;
}

input:checked + label span {
  opacity: 0;
  top: 50%;
  background: #6f6f6f;
}

input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}

input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}

/* ========= Full Screen Navigation ======= */

.fullscreen-nav-container {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 11;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fullscreen-nav-container .container-fluid {
  height: 100%;
}

.fullscreen-nav-container::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.no-js .fullscreen-nav-container {
  display: none;
}

.full-nav-container {
  height: 100%;
}

.full-nav-holder {
  height: 100%;
  display: table;
  width: 100%;
  margin: auto;
}

.full-nav-content {
  display: table-cell;
  vertical-align: middle;
}

.name {
  text-align: center;
}

.first-name {
  font-size: 50px;
  font-weight: 400;
  padding-bottom: 20px;
}

.last-name {
  font-size: 100px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 42px;
}

.occupation {
  font-size: 18px;
  font-weight: 400;
  height: 30px;
  overflow: hidden;
}

.occupation span {
  display: inline-block;
  color: #fff;
  position: relative;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  top: 0;
  left: 0;
}

@keyframes move {
  0% {
    top: 0px;
  }
  33% {
    top: -30px;
  }
  67% {
    top: -60px;
  }
}

.fulscreen-nav {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.fullscreen-nav-holder {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.fullscreen-nav-holder div {
  margin: 0px 10px;
  transition: transform 0.2s;
}

.fullscreen-nav-holder div:hover {
  transform: translateY(5px);
}

.fullscreen-nav-holder a {
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.full-nav-icon-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.full-nav-icons {
  display: inline-flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.full-nav-icons div {
  display: inline-block;
}

.full-nav-icons a,
.to-top a {
  text-decoration: none;
  color: #313131;
  font-size: 17px;
}

.full-nav-icons .fa.fa-facebook-f {
  padding: 7px 10px;
}

.full-nav-icons .fa,
.to-top .fa {
  transition: all 0.3s;
  background: #fff;
  padding: 7px;
}

.full-nav-icons .fa:hover {
  transform: translateY(5px);
}

/*--------------------------------
  End Header
----------------------------------*/

/*--------------------------------
  Start Menu
----------------------------------*/

/* ========= 3.1 Desktop Menu ======= */

.menu {
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 999;
}

.menu-fixer {
  position: relative;
}

.menu-fix {
  position: fixed;
}

.menu-container {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  height: 55px;
  /*background: #333;*/
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: background 1s;
}

.menu-normal {
  background: #fff;
}

.menu-container-transparent {
  background: rgba(0, 0, 0, 0.6);
}

.desktop-menu-logo img {
  height: 50px;
  margin-left: 20px;
}

.desktop-menu-logo {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 1px;
}

.menu-item {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.desktop-menu .hvr-underline-from-left:hover:before,
.desktop-menu .hvr-underline-from-left:focus:before,
.desktop-menu .hvr-underline-from-left:active:before,
.desktop-menu .hvr-underline-from-left.active:before {
  right: 0;
}

.desktop-menu .hvr-underline-from-left:before {
  background: #fff;
}

.desktop-menu .hvr-underline-from-left:before {
  bottom: 11px;
  height: 2.5px;
}

.desktop-menu .hvr-underline-from-left.dark:before {
  background: #6f6f6f;
}

.desktop-menu {
  display: flex;
  width: 82%;
  justify-self: flex-end;
  height: 55px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 150px;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  transition: color 1s;
}

.menu-item-transparent.menu-item a {
  color: #6f6f6f;
}

/* ========= Mobile Menu ======= */

.mobile-menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  height: 55px;
  top: 0;
  background: #fff;
  box-shadow: 0px 0px 4px 0px;
  transition: all 0.5s;
}

.mobile-menu-fix {
  position: fixed;
}

.mobile-menu-logo img {
  height: 50px;
}

.mobile-menu-logo {
  position: absolute;
  left: 15px;
  top: 4px;
}

.mobile-menu a {
  text-decoration: none;
  color: white;
  font-size: 29px;
}

.mobile-menu-icons {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  align-items: center;
  padding-left: 26px;
  padding-bottom: 12px;
}

.mobile-menu-icons div {
  display: inline-block;
  margin-right: 5%;
}

.mobile-menu-icons .fa {
  transition: all 0.7s;
}

.mobile-menu-icons .fa:hover {
  transform: scale(1.2);
  color: #6f6f6f;
}

.mobile-menu-nav {
  height: 20px;
  width: 34px;
  display: inline-block;
  position: absolute;
  right: 14px;
  top: 18px;
}

.mobile-menu-nav span {
  display: block;
  width: 100%;
  height: 4px;
  background: #6f6f6f;
  position: relative;
  top: 4px;
  transition: 0.5s;
}

.mobile-menu-nav span:first-child {
  top: -2px;
}

.mobile-menu-nav span:last-child {
  top: 10px;
}

.mobile-menu-nav:hover {
  cursor: pointer;
}

.menu-link.active span {
  opacity: 0;
  top: 50%;
}

.menu-link.active span:first-child {
  opacity: 1;
  transform: rotate(405deg);
  top: 6px;
}

.menu-link.active span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
  top: -2px;
}

.menu-slider {
  position: absolute;
  display: none;
  z-index: 999;
  top: 55px;
  left: 0;
  right: 0;
  background: #212121;
}

.menu-slider ul {
  list-style: none;
  padding: 0 17px;
  margin: 7px 0;
  text-align: center;
}

.menu-slider li {
  padding: 9px;
}

.menu-slider li a {
  font-size: 20px;
  font-weight: 500;
}

/*--------------------------------
   End Menu
----------------------------------*/
/*--------------------------------
   Start About Me
----------------------------------*/

.about-me {
  background: #fff;
  padding: 70px 0px;
}

.about-me-text h1 {
  position: relative;
  color: #6f6f6f;
  font-weight: 700;
  letter-spacing: 2px;
}

.about-me-text p {
  color: #6f6f6f;
  font-size: 16px;
}

.download-cv:hover,
.download-cv:focus {
  text-decoration: none;
  color: #4d4d4d;
}

.about-me-images img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 90%;
}

/* ========= Start Experience ======= */

.experience-skill {
  margin-top: 40px;
}

.experience h3,
.skill h3 {
  color: #6f6f6f;
  font-weight: 700;
  letter-spacing: 2px;
}

.experience-chart {
  list-style: none;
  padding: 0px 0px 0px 6px;
  margin-top: 40px;
}

ul.experience-chart li {
  padding-left: 30px;
  border-left: 2px solid #6f6f6f;
  padding-bottom: 10px;
  position: relative;
}

ul.experience-chart li:last-child {
  padding-bottom: 0;
}

ul.experience-chart li:after {
  position: absolute;
  top: -1px;
  left: -12px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #4d4d4d;
  background: #fff;
  content: '';
  transition: all 0.7s;
}

ul.experience-chart li:hover:after {
  background: #4d4d4d;
}

ul.experience-chart h4 {
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  color: #4d4d4d;
}

.experience-chart li span {
  font-weight: 700;
  color: #6f6f6f;
}

.experience-chart li p {
  color: #6f6f6f;
}

.single-experience {
  position: relative;
  top: -2px;
}

/* ========= Start Skill ======= */

.skill-progress-bar {
  margin-top: 41px;
}

.skillbar {
  position: relative;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  width: 100%;
  background: #fff;
  border: 2px solid #6f6f6f;
  height: 18px;
  border-radius: 22px;
  transition: 0.2s linear;
  transition-property: width, background-color;
}

.skillbar-title,
.skill-bar-percent {
  font-size: 16px;
  color: #4d4d4d;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 7px;
}

.skill-bar-percent {
  float: right;
}

.skillbar-bar {
  height: 10px;
  margin: 0px 2px;
  width: 0px;
  background: #4d4d4d;
  border-radius: 22px;
}

/*--------------------------------
   End About Me
----------------------------------*/

/*--------------------------------
   Start Portfolio
----------------------------------*/

.portfolio {
  background: #fff;
  padding: 70px 0px;
}

.portfolio h1 {
  color: #6f6f6f;
  text-align: center;
  font-weight: 700;
  letter-spacing: 4px;
  position: relative;
}

.hidden {
  display: none !important;
}

/* ========= 7.2 Start Fun Facts ======= */

.no-js .fun-facts {
  display: none;
}

.fun-facts {
  display: flex;
  justify-content: space-around;
  height: auto;
  flex-wrap: wrap;
}

.fun-fact-holder {
  width: 130px;
}

.fun-fact-holder img {
  display: block;
  margin: auto;
  width: 50px;
}

.fun-fact-holder p {
  text-align: center;
  font-size: 14px;
  margin-top: -10px;
  color: #6f6f6f;
  font-weight: 700;
}

.fun-fact-holder .fact-counter {
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  margin-top: 13px;
}

/*--------------------------------
   End Testimonials
----------------------------------*/
.footer {
  padding-top: 50px;
  padding-bottom: 70px;
  position: relative;
  z-index: 2;
}

.footer hr {
  border: 1px solid #fff;
  margin-bottom: 5px;
}

.footer-icons {
  display: inline-flex;
  flex-wrap: wrap;
  width: 210px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.footer-icons div {
  display: inline-block;
}

.footer-icons a,
.to-top a {
  text-decoration: none;
  color: #313131;
  font-size: 17px;
}

.footer-icons .fa,
.to-top .fa {
  transition: all 0.3s;
  background: #fff;
  padding: 7px;
}

.footer-icons .fa:hover {
  transform: translateY(5px);
}

.no-js .to-top {
  position: fixed;
  right: 15px;
  bottom: 20px;
}

.to-top:hover {
  transform: translateY(-5px);
}

.credit {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
}

/*--------------------------------
  Start Header
----------------------------------*/

@media (max-width: 550px) and (min-height: 501px) {
  .introduction {
    font-size: 45px;
    margin-bottom: 5px;
  }
  .animated-text {
    font-size: 21px;
    margin-top: 7px;
    margin-bottom: 2px;
  }
  .head-holder .hireMe {
    margin-top: 10px;
    font-size: 18px;
    padding: 3px 12px;
  }
}

@media (min-width: 470px) and (max-width: 727px) {
  .fullscreen-nav-holder div {
    margin-bottom: 15px;
  }
  .full-nav-icon-holder {
    margin-top: 15px;
  }
}

@media (min-width: 728px) and (max-height: 470px) {
  .full-nav-container {
    margin-top: 20px;
  }
}

@media (min-width: 469px) and (max-width: 727px) and (max-height: 500px) {
  .full-nav-container {
    margin-top: 20px;
  }
  .first-name,
  .last-name {
    display: inline-block;
    font-size: 35px;
    margin: 0;
  }
  .occupation {
    font-size: 15px;
  }
  .fulscreen-nav {
    margin-top: 25px;
  }
  .full-nav-icon-holder {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media (max-height: 535px) and (max-width: 468px) {
  .first-name,
  .last-name {
    display: inline-block;
    font-size: 35px;
    margin: 0;
  }
  .occupation {
    font-size: 15px;
  }
  .name {
    text-align: left;
  }
  .full-nav-container {
    margin-top: 20px;
  }
  .fullscreen-nav-holder div {
    margin-bottom: 15px;
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
  }
  .fulscreen-nav {
    margin-top: 25px;
  }
  .full-nav-icon-holder {
    margin-top: -5px;
    width: 70%;
    justify-content: flex-start;
  }
  .full-nav-holder {
    padding-left: 20px;
    display: block;
  }
  .full-nav-content {
    display: block;
  }
}

@media (max-width: 469px) and (min-height: 536px) {
  .fullscreen-nav-holder div {
    margin-bottom: 15px;
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
  }
  .full-nav-icon-holder {
    margin-top: 15px;
  }
  .full-nav-container {
    margin-top: 20px;
  }
  .first-name {
    font-size: 35px;
  }
  .last-name {
    font-size: 70px;
    font-weight: 600;
    line-height: 0;
    margin-top: 28px;
    margin-bottom: 28px;
  }
  .occupation {
    font-size: 14px;
  }
  .fullscreen-nav {
    margin-top: 35px;
  }
  .full-nav-holder {
    display: block;
  }
  .full-nav-content {
    display: block;
  }
}

@media (max-width: 767px) {
  .logo {
    left: 10px;
  }
  .header .logo img {
    width: 185px;
  }
}

@media (max-width: 880px) {
  .slider-button {
    display: none;
  }
}

@media (max-width: 990px) {
  .header {
    background-position: center;
  }
}

@media (min-height: 301px) and (max-height: 500px) {
  .introduction {
    font-size: 35px;
  }
  .animated-text {
    font-size: 18px;
  }
  .head-holder .hireMe {
    margin-top: 10px;
    font-size: 16px;
    padding: 3px 12px;
  }
}

@media (max-height: 300px) {
  .introduction {
    font-size: 35px;
  }
  .animated-text {
    font-size: 18px;
  }
  .head-holder .hireMe {
    margin-top: 10px;
    font-size: 16px;
    padding: 3px 12px;
  }
  .head-container {
    display: block;
    margin-top: 130px;
    margin-bottom: 50px;
    height: auto;
  }
}

@media (max-width: 468px) and (max-height: 440px) {
  .full-nav-container {
    margin-bottom: 30px;
  }
  .fullscreen-nav-container {
    position: absolute;
    top: 0;
    bottom: 100%;
    width: 100%;
    height: 447px;
  }
}

@media (max-height: 430px) {
  .fullscreen-nav-container {
    min-height: 420px;
  }
}

.hero-image {
  height: 100%;
  overflow: hidden;
}

.hero-image img {
  object-fit: cover;
  min-height: 100%;
  width: 100%;
}

.footer-icon:hover {
  color: #818aa3;
}

/*--------------------------------
  End Header
----------------------------------*/

/*--------------------------------
 Start Menu
----------------------------------*/

@media (max-width: 991px) {
  .desktop-menu {
    width: 95%;
    margin-left: 150px;
  }
}

@media (max-width: 765px) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .menu-container {
    justify-content: flex-end;
    padding: 0px 20px;
    height: 0px;
    background: #fff;
  }
  .desktop-menu-logo {
    display: none;
  }
  .menu-container-transparent {
    background: rgb(255, 255, 255);
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .menu-container {
    justify-content: flex-start;
  }
}

@media (min-width: 766px) {
  .mobile-menu-fix {
    display: none;
  }
}

/*--------------------------------
 End Menu
----------------------------------*/

/*--------------------------------
  Start About Me
----------------------------------*/

@media (max-width: 767px) {
  .about-me-text {
    display: block;
    height: auto;
    margin-bottom: 30px;
    order: 2;
  }
  .about-me-image {
    order: 1;
    margin-bottom: 30px;
  }
  .about-me-holder {
    display: flex;
    flex-wrap: wrap;
  }
  .experience-skill {
    margin-top: 10px;
  }
  .experience-chart,
  .skill-progress-bar {
    margin-top: 25px;
  }
  .skill {
    margin-top: 30px;
  }
  .skillbar {
    margin-bottom: 15px;
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .about-me {
    padding: 125px 0px 35px 0px;
  }
}

@media (max-width: 600px) {
  .about-me {
    padding: 70px 0px 0px 0px;
  }
}

/*--------------------------------
   End About Me
----------------------------------*/

/*--------------------------------
  Start Contact
----------------------------------*/

@media (max-width: 300px) {
  .footer-icons {
    width: 100%;
  }
  .footer-icons .fa {
    margin-bottom: 10px;
  }
}

/*--------------------------------
  End Contact
----------------------------------*/
