<head>
  <meta charset="utf-8" />
  <title>N&amp;T</title>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="{{ with .Params.Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}"
  />
  {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}" />
  {{ end }}

  {{ "<!-- plugins -->" | safeHTML }}
  {{ range .Site.Params.plugins.css }}
    <link rel="stylesheet" href="{{ .link | relURL }}" />
  {{ end }}

  {{ "<!-- Main Stylesheet -->" | safeHTML }}

  {{ $styles := resources.Get "css/style.scss" | resources.ToCSS | resources.PostCSS | minify }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen" />

  {{ "<!--Favicon-->" | safeHTML }}

  {{ if isset .Site.Params "special_favicon" }}
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ .Site.Params.special_favicon.apple_touch }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ .Site.Params.special_favicon.fav32 }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ .Site.Params.special_favicon.fav16 }}"
    />
    <link rel="manifest" href="{{ .Site.Params.special_favicon.manifest }}" />
    <link
      rel="mask-icon"
      href="{{ .Site.Params.special_favicon.mask_icon }}"
      color="{{ .Site.Params.special_favicon.mask_icon_color }}"
    />
    <meta
      name="theme-color"
      content="{{ .Site.Params.special_favicon.theme_color }}"
    />
    {{ else }}
    <link rel="icon" type="image/png" href="{{ .Site.Params.favicon }}" />
  {{ end }}
  {{ with .Site.Params.google_analytics }}
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ . }}');
    </script>
  {{ end }}
  <script type="text/javascript" src="https://sdk.userbase.com/2/userbase.js"></script>
</head>
