
<section class="menu menu-fix" id="menu">
  <nav>
    <div class="menu-container">
      <div class="desktop-menu-logo">
        <a href="#hero-content"
          ><img
            class="img-fluid"
            src="{{ .Site.Params.logo_light | relURL }}"
            alt="{{ .Site.Title }}"
            id="desktop-logo"
        /></a>
      </div>
      <ul class="desktop-menu list-inline mb-0" id="desktop-menu">
        <li class="menu-item hvr-underline-from-left {{ .Weight }}">
          <a href="#hero-content">Event Details</a>
        </li>

		<li class="menu-item hvr-underline-from-left {{ .Weight }}">
          <a href="#dayOf">Day Of</a>
        </li>
		
		<li class="menu-item hvr-underline-from-left {{ .Weight }}">
          <a href="#nearby">Nearby</a>
        </li>

		<li class="menu-item hvr-underline-from-left {{ .Weight }}">
          <a href="#lodging">Lodging</a>
        </li>

		<li class="menu-item hvr-underline-from-left {{ .Weight }}">
          <a href="#rsvp">RSVP</a>
        </li>

      </ul>
      <div class="mobile-menu">
        <div class="mobile-menu-nav">
          <a class="menu-link">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        <div class="mobile-menu-logo">
          <a href="#hero-content"
            ><img
              class="img-fluid"
              src="{{ .Site.Params.logo_light | relURL }}"
              alt="{{ .Site.Title }}"
          /></a>
        </div>
        <div class="menu-slider">
          <nav>
            <ul class="mobile-menu-list">
              <li class="mobile-menu-item 1 mx-auto">
                <a href="#hero-content">Event Details</a>
              </li>
			  <li class="mobile-menu-item 1 mx-auto">
                <a href="#dayOfTitle">Day Of</a>
              </li>
			  <li class="mobile-menu-item 1 mx-auto">
                <a href="#nearbyTitle">Nearby</a>
              </li>
			  <li class="mobile-menu-item 1 mx-auto">
                <a href="#lodgingTitle">Lodging</a>
              </li>
			  <li class="mobile-menu-item 1 mx-auto">
                <a href="#rsvpTitle">RSVP</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </nav>
</section>

