{{ define "main" }}
  {{- partial "menu.html" . }}
  {{- partial "header.html" . }}
  <section id="hero-container" class="header d-flex" id="header"></section>

  <section id="hero-layer" class="header d-flex" id="header"></section>

  <section id="transition-layer" class="header d-flex" id="header"></section>

  <section id="hero-content" class="header d-flex" id="header">
    <div class="container text-center my-auto">
      <div class="row justify-content-center d-flex">
        <div class="col-xl-6 col-lg-8 my-auto">
          <div id="auth-view">
            <div id="loginbackground">
              <p id="CTA">Please enter the password from your save the date:</p>
              <form id="login-form">
                <input
                  id="login-password"
                  type="text"
                  required
                  placeholder="Password"
                /><br />
                <input id="submit" type="submit" value="Enter" />
              </form>
            </div>
            <div id="login-error"></div>
          </div>
          <!-- To-dos View -->
          <div id="details">
            <div id="details-content"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="dayOf" class="header" id="header">
    <div class="container text-center my-auto">
      <div class="row justify-content-center d-flex">
        <div class="col-lg-6 contentBox">
          <h1 id="dayOfTitle">Day Of</h1>
          <div id="dayOfContent">Testing something new</div>
        </div>
		<div class=" col-lg-6 fill">
          <img src="/images/background2.jpg">
        </div>
      </div>
    </div>
  </section>
  
  <section id="nearby" class="header" id="header">
    <div class="container text-center my-auto">
      <div class="row justify-content-center d-flex">
	  		<div class=" col-lg-6 fill">
          <img src="/images/background3.jpg">
        </div>
        <div class="col-lg-6 contentBox">
          <h1 id="nearbyTitle">Nearby</h1>
          <div id="nearbyContent">Testing something new</div>
        </div>

      </div>
    </div>
  </section>

  <section id="lodging" class="header" id="header">
    <div class="container text-center my-auto">
      <div class="row justify-content-center d-flex">
        <div class="col-lg-6 contentBox">
          <h1 id="lodgingTitle">Lodging</h1>
          <div id="lodgingContent">Testing something new</div>
        </div>
		<div class=" col-lg-6 fill">
          <img src="/images/background_final3.jpg">
        </div>
      </div>
    </div>
  </section>

  <section id="rsvp" class="header" id="header">
    <div class="container text-center my-auto">
      <div class="row justify-content-center d-flex">
	  <div class=" col-lg-6 fill">
          <img src="/images/background5.jpg">
        </div>
        <div class="col-lg-6 contentBox">
          <h1 id="rsvpTitle">RSVP</h1>
		  <p>We wish we could invite more loved ones to our event, but Salish Lodge is an intimate venue with a strict occupancy limit and a 21+ age policy. For this reason, we can only accommodate those guests whose names appear below.</p>
          <p>If you're unable to come, we understand! Please submit your RSVP anyway, but leave the checkbox blank for anyone unable to attend.</p>
		  <div id="rsvpContent">Testing something new</div>
		  <div id="end"><img src="/images/amp.png"></div>
        </div>
      </div>
    </div>
  </section>



  <script type="text/javascript">
    //change to environment variables
    const apiBase = new String('https://lghr20fl3j.execute-api.us-east-1.amazonaws.com/');

    function fadeIn(el) {
      el.style.opacity = 0;
      var tick = function () {
        el.style.opacity = +el.style.opacity + 0.02;
        if (+el.style.opacity > 0) {
          (window.requestAnimationFrame && requestAnimationFrame(tick)) ||
            setTimeout(tick, 1);
        }
      };
      tick();
    }

    function fadeOut(el) {
      el.style.opacity = 1;
      var tick = function () {
        el.style.opacity = +el.style.opacity + -0.02;
        if (+el.style.opacity > 0) {
          (window.requestAnimationFrame && requestAnimationFrame(tick)) ||
            setTimeout(tick, 1);
        }
      };
      tick();
    }

    function handleLogin(event) {
      event.preventDefault();

      const password = document.getElementById('login-password').value;

        showDetails(password);
      
    }

    async function fetchData(password) {
      // change to environment variables

      let apiPath = apiBase.concat('getDetails?password=').concat(password);
      try {
        const response = await fetch(apiPath, {
          mode: 'cors'
        });
        const data = await response.json();
        return data;
      } catch (error) {
        console.error(error);
      }
    }

    async function fetchForm(id) {
      let apiPath = apiBase.concat('getForm?identifier=').concat(id);
      try {
        const response = await fetch(apiPath, {
          mode: 'cors'
        });
        const data = await response.json();
        return data;
      } catch (error) {
        console.error(error);
      }
    }

    function togglePerson1() {
      checked = document.getElementById('person1').checked;

      if (!checked) {
        document
          .getElementById('person1meal')
          .setAttribute('style', 'display: none !important');
      } else {
        document
          .getElementById('person1meal')
          .setAttribute('style', 'display: block !important');
      }
    }

    function togglePerson2() {
      checked = document.getElementById('person2').checked;

      if (!checked) {
        document
          .getElementById('person2meal')
          .setAttribute('style', 'display: none !important');
      } else {
        document
          .getElementById('person2meal')
          .setAttribute('style', 'display: block !important');
      }
    }

    async function submitForm(event) {
      if (event.target.id == 'rsvpForm') {
        event.preventDefault();

        const data = new FormData(event.target);
        const value = Object.fromEntries(data.entries());

		var postBody = Object();

        p1 = document.getElementById('person1').value;
		
		if (document.getElementById('person2')) {
        p2 = document.getElementById('person2').value;
		postBody['primaryKey'] = p1.concat(p2);

		} else {
		postBody['primaryKey'] = p1;
		}
        

        

        if ('person1' in value) {
          postBody['person1'] = value['person1'];
        } else {
          postBody['person1'] = '';
        }

        if ('person2' in value) {
          postBody['person2'] = value['person2'];
        } else {
          postBody['person2'] = '';
        }

        if ('person1meal' in value) {
          postBody['person1meal'] = value['person1meal'];
        } else {
          postBody['person1meal'] = '';
        }

        if ('person2meal' in value) {
          postBody['person2meal'] = value['person2meal'];
        } else {
          postBody['person2meal'] = '';
        }

        let apiPath = apiBase.concat('submitForm');

        const response = await fetch(apiPath, {
          method: 'POST', // *GET, POST, PUT, DELETE, etc.
          mode: 'cors', // no-cors, *cors, same-origin
          body: JSON.stringify(postBody) // body data type must match "Content-Type" header
        });
        const content = await response.json();

        const rsvp = document.getElementById('rsvpContent');
        rsvp.innerHTML =
          "<h4>Thanks for RSVPing. We can't wait to see you!</h4>";
      } else if (event.target.id == 'adminForm') {
        let apiPath = apiBase.concat('adminData');
        try {
          const response = await fetch(apiPath, {
            mode: 'cors'
          });

          data = await response.json();

          let csvContent = 'data:text/csv;charset=utf-8,' + data['data'];

          console.log(csvContent);

          var encodedUri = encodeURI(csvContent);
          var link = document.createElement('a');
          link.setAttribute('href', encodedUri);
          link.setAttribute('download', 'my_data.csv');
          document.body.appendChild(link); // Required for FF

          link.click();
        } catch (error) {
          console.error(error);
        }
      }
    }

    async function showDetails(password) {
      event.preventDefault();

	  data = await fetchData(password);
	  
	  if (data['details'] != 'Invalid Password' && data['details'] != 'AdminPass') {

      document.title = 'N&T | Welcome!';


      document.getElementById('auth-view').style.display = 'none';
      document.getElementById('details').style.display = 'block';
      document.getElementById('menu').style.display = 'block';
	  
      document
        .getElementById('rsvp')
        .setAttribute('style', 'display: flex !important;');
	  document
        .getElementById('dayOf')
        .setAttribute('style', 'display: flex !important');
		
	  document
        .getElementById('nearby')
        .setAttribute('style', 'display: flex !important');

      document
        .getElementById('lodging')
        .setAttribute('style', 'display: flex !important');
	
	  /*
	  document
      .getElementById('end')
      .setAttribute('style', 'display: block !important');
	  */
	  

      const details = document.getElementById('details-content');
      const dayOf = document.getElementById('dayOfContent');
	  const nearby = document.getElementById('nearbyContent');
      const lodging = document.getElementById('lodgingContent');
      const rsvp = document.getElementById('rsvpContent');

      var apiEndpoint = '';

      details.innerHTML = data['details'];
      dayOf.innerHTML = data['dayOf'];
      lodging.innerHTML = data['lodging'];
	  nearby.innerHTML = data['nearby'];

      var identifier = '';

      try {
        formData = await fetchForm(password);
      } catch (error) {
        console.error(error);
      }

      rsvp.innerHTML = formData['form'];

      document
        .getElementById('person1meal')
        .setAttribute('style', 'display: none !important');

      document
        .getElementById('person1')
        .addEventListener('change', togglePerson1);

      if (document.getElementById('person2')) {
      document
        .getElementById('person2meal')
        .setAttribute('style', 'display: none !important');

      document
        .getElementById('person2')
        .addEventListener('change', togglePerson2);
		}
	} else if (data['details'] == 'AdminPass') {
		showAdmin(data)
	} else {
		const CTA = document.getElementById('CTA');
		CTA.innerHTML = 'Incorrect password, please try again.';
	}
    }

    async function showAdmin(data) {
      document.getElementById('auth-view').style.display = 'none';
      document.getElementById('details').style.display = 'block';
      const details = document.getElementById('details');

      details.innerHTML = data['adminPage'];
    }

    async function pageTransition(type) {
      event.preventDefault();

      transition = document.getElementById('transition-layer');

      transition.setAttribute('style', 'display: block !important');
      await new Promise((resolve) => setTimeout(resolve, 1500));
      fadeOut(transition);
      await new Promise((resolve) => setTimeout(resolve, 1700));
      document
        .getElementById('transition-layer')
        .setAttribute('style', 'display: none !important');
    }

    document.getElementById('details').style.display = 'none';
    document
      .getElementById('rsvp')
      .setAttribute('style', 'display: none !important');
    document
      .getElementById('dayOf')
      .setAttribute('style', 'display: none !important');


    document
      .getElementById('lodging')
      .setAttribute('style', 'display: none !important');

    document
      .getElementById('nearby')
      .setAttribute('style', 'display: none !important');
    document.getElementById('menu').style.display = 'none';
    document
      .getElementById('transition-layer')
      .setAttribute('style', 'display: none !important');
    document
      .getElementById('login-form')
      .addEventListener('submit', handleLogin);

    document.addEventListener('submit', submitForm);
  </script>
{{ end }}
